POSTGREST_ENDPOINT=url
POSTGREST_TOKEN=abc123
SO_KEY=abc123
SO_SECRET=abc123
SO_TOKEN=abc123
SO_WEB=abc123
BUCKET=abc123
AWS_PASS=abc123
BASE_URL=abc123
PROJECT_ID=abc123
AWS_ACCESS_ID=abc123
MSTRO_PASSWORD=abc123
MSTRO_USERNAME=abc123
